/* Theme.css */
.dark {
    /* Dark mode styles */
    transition: background-color 0.4s ease, color 0.4s ease;
    /* Add transition effect */
}

/* Light mode styles */
.light {
    transition: background-color 0.4s ease, color 0.4s ease;
    /* Add transition effect */
}

.call-screen {
    height: 100vh;
    overflow-y: auto;
    margin-bottom: 3rem;
}

@media (min-width: 640px) {
    .call-screen {
        margin-bottom: 0;
    }
}